body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(0, 89, 255);
    align-items: center;
    background-image: url(Imagenes/bECCoJL97cfErsT_9ZX5T-transformed.jpeg);
    background-repeat: no-repeat;
    background-size: 1283px;
    width: 100%;
    margin: 0%;


}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(88, 95, 101, 0.721);
    width: 100%;
    padding: 0px;

    div{
        display: flex;
        align-items: center;

    }
    .links{
        color: rgb(0, 0, 0);  
        justify-content: space-between;
        text-decoration: none;
        padding: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 10px;
        font-size: larger;
    
    }
    
    img{
        height: 100px;
        margin-right: 30px;
        margin-left: 30px;
    
    }
}

#main main{
    margin-bottom: 250px;
}


main{
    margin-top: 230px;
    margin-bottom: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(56, 67, 77, 0.548);
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    

    h1{
   font-size: 70px; 
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   margin-bottom: 5px;
   margin-top: 25px;
}

    .main{
        text-align: center;
        font-size: 40px;
        margin: 0px;
        margin-bottom:10px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .input{
        text-align: left;
        color: aliceblue;
        font-size: 15px;
    }
    
    input{
        display: flex;
    flex-direction: column;
    width: 500px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: 0px black solid;
    margin-bottom: 0px;
}
#Sesión{
    background-color: rgb(76, 87, 83);
    pointer-events: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.contraseña{
    text-decoration: none;
    display: flex;
        color: aliceblue;
        margin-bottom: 12px;
        text-align: left;
    }
    
div{
    margin-top: 30px;
}

}

    

footer{
    margin-top:auto;
    background-color: rgb(42, 49, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;

    p{
        font-size: small;
        text-align: justify;
        margin-bottom: 0px;
    }

    h2{
        margin-bottom: 5px;
        font-size: small;
    }
    
    img{
        height: 100px;
        margin-right: 30px;
        margin-left: 30px;
     }
}
    

